@font-face{
  font-family: charter;
  src: url('../fonts/fonts/charter-regular.otf');
  font-style: normal;
  font-weight: 400;
}

@font-face{
  font-family: charter;
  src: url('../fonts/fonts/charter-italic.otf');
  font-style: italic;
  font-weight: 400;
}

@font-face{
  font-family: charter;
  src: url('../fonts/fonts/charter-bold.otf');
  font-style: bold;
  font-weight: bold;
}

@font-face{
  font-family: charter;
  src: url('../fonts/fonts/charter-bold-italic.otf');
  font-style: italic;
  font-weight: bold;
}

:root{
  font-size: 16px;
  --white30: white;
  --white20: #A5A3A5;
  --white10: #3A3539;
  /* direction: rtl; */
}

body {
  color: var(--white30);
  font-family: 'Nunito', sans-serif;
  background: #251F24;
  /* font-family: charter; */
}

header{
  /* --white10: red; */
  font-size: 14px;
  color: #616161;
}

header a{
  color: var(--white20);
  text-decoration: none;
}

header a:hover{
  color: var(--white30);
}

header li{
  color: var(--white20);
}

nav details summary{
  color: var(--white30);
  font-weight: bold;
}

h1 {
  font-size: 60px;
  font-weight: 700;
}

h2{
  font-size: 2em;
  font-weight: 700;
}

h3{
  font-size: 1.5em;
  font-weight: 600;
}

pre{
  background: var(--white10);
}

p{
  color: var(--white20);
  font-weight: normal;
}

.hero{
  /* background: linear-gradient(to top, rgba(255, 255, 255, 0.3), transparent), url('../img/patron-1.png'); */
  background-image: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
  height: 350px;
}

.section-content{
  counter-reset: titleList;
}

.section-content h3{
  counter-increment: titleList;
}

.section-content h3::before{
  content: counter(titleList)'. ';
}

.section-content h3::after{
  content: '';
  width: 32px;
  height: 4px;
  background: #FEC62E;
  display: inline-block;
}