@font-face{
  font-family: charter;
  src: url('../fonts/fonts/charter-regular.otf');
  font-style: normal;
  font-weight: 400;
}

@font-face{
  font-family: charter;
  src: url('../fonts/fonts/charter-italic.otf');
  font-style: italic;
  font-weight: 400;
}

@font-face{
  font-family: charter;
  src: url('../fonts/fonts/charter-bold.otf');
  font-style: bold;
  font-weight: bold;
}

@font-face{
  font-family: charter;
  src: url('../fonts/fonts/charter-bold-italic.otf');
  font-style: italic;
  font-weight: bold;
}

:root{
  font-size: 16px;
  --white30: white;
  --white20: #A5A3A5;
  --white10: #3A3539;
  /* direction: rtl; */
}

body {
  color: var(--white30);
  font-family: 'Nunito', sans-serif;
  background: #251F24;
  /* font-family: charter; */
}

header{
  /* --white10: red; */
  font-size: 14px;
  position: absolute;
  inset-inline-start: -208px;
  inline-size: 188px;
}

.header{
  position: sticky;
  inset-block-start: -45px;
}

.header-content{
  position: relative;
  inset-block-start: 65px;
}

header a{
  color: var(--white20);
  text-decoration: none;
}

header a:hover{
  color: var(--white30);
}

header li{
  color: var(--white20);
  margin-inline-end: 16px;
  margin-block-end: 16px;
}

nav details summary{
  color: var(--white30);
  font-weight: bold;
}

h1 {
  font-size: 60px;
  font-weight: 700;
  margin-block-start: 64px;
  margin-block-end: 16px;
}

h2{
  font-size: 2em;
  font-weight: 700;
}

h3{
  font-size: 1.5em;
  font-weight: 600;
  margin-block: 16px;
}

hr{
  margin-block: 40px;
  border-color: var(--white10);
}

pre{
  background: var(--white10);
  padding: 40px;
  overflow: auto; /*si algo desborda de la caja, se crea un escroll horizontal interno*/
  border-radius: 8px;
}

p{
  color: var(--white20);
  font-weight: normal;
}

blockquote{
  font-size: 24px;
  line-height: 32px;
  margin-block-start: 80px;
  margin-block-end: 63;
  background: var(--white10);
  border-radius: 8px;
  padding: 24px;
}

blockquote p{
  color: var(--white30);
}

.hero{
  /* background: linear-gradient(to top, rgba(255, 255, 255, 0.3), transparent), url('../img/patron-1.png'); */
  background-image: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
  height: 350px;
}

.main hr{
  display: none;
}



.wrapper{
  max-inline-size: 902px; /*apicar ancho*/
  margin: auto; /*centrar el ancho*/

}

.main-content{
  padding-inline: 16px;
}

.section-content img{
  margin-block-start: 40px;
  display: block; /*para manegar el margin collapse, sin esto se sumrían sus margenes -margin-*/
  max-inline-size: 100%; /*para que las imagenes tomen el ancho del view port en valores lógicos*/
}

.section-content{
  counter-reset: titleList;
}

.section-content h3{
  counter-increment: titleList;
}

.section-content h3::before{
  content: counter(titleList)'. ';
}

/* .section-content h3::after{
  content: '';
  width: 32px;
  height: 4px;
  background: #FEC62E;
  display: inline-block;
} */

.slider{
 /* border: 1px solid red; */
}

.slider-container{
  /* block-size: 100px; */
  display: block;
  overflow: auto;
  scroll-behavior: smooth;
  white-space: nowrap; /*genera scroll, no enviendo al elemento a la siguiente linea*/
  overflow-x: hidden;
}

.video{
  margin: 0;
  /* border: 1px solid blue; */
  display: inline-block;/*espera poner un elemento al lado del otro*/
  width: 100%;
  aspect-ratio: 16/9;
}

.slider-bullet-list{
  text-align: center;
}

.slider-bullet{
  display: inline-block;
  inline-size: 15px;
  block-size: 15px;
  background: white;
  border-radius: 50%;
}